<div class="card" style="background-image: url(<%= cl_image_path(tool.photo) %>);">
  <div class="card-category"><%= tool.category %></div>
  <div class="card-description">
    <h2><%= link_to tool.name, tool_path(tool) %></h2>
    <p><%= tool.address %></p>
    <%= tool.reviews.count %>
  </div>
  <img class="card-user" src=<%= tool.owner.facebook_picture_url %>>
</div>
