<div class="container text-center">
  <div class="big-box-t">
    <div class="box-left-t">
      <div class="inside-box-left">
        <%= image_tag @user.facebook_picture_url, width: 125 %>
        <h3><%= @user.first_name %></h3>
        <p><%= @user.email %></p>
        <p><%= @user.user_address %></p>
        <p><%= @user.payment_method %></p>
        <%= link_to 'My Tools', my_tools_path, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="boxes-right-t">
      <div class="box-right-big-t">
        <h3>Edit a new tool</h3>
        <div class="form-group">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
