<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="thumbnail">
        <%= cl_image_tag @tool.photo, height: 250, crop: :fill %>
        <div class="caption text-center">
          <h3><%= @tool.name %></h3>
          <p><%= @tool.description %></p>
          <% if @tool.owner == current_user %>
            <%= link_to 'Edit', edit_tool_path, class: 'btn btn-warning' %></p>
          <% else %>
            <%= link_to 'Book me', new_tool_booking_path(@tool), class: 'btn btn-success' %>
          <% end %>
          <br><br>
          <%= link_to 'Return to index', tools_path, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
