<!-- Sexy Bootstrap Thumbmnail -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="thumbnail">
        <%= cl_image_tag @tool.photo, height: 250, crop: :fill %>
        <div class="caption text-center">
          <h3><%= @tool.name %></h3>
          <p><br><%= @tool.description %></p>
          <p>Price<br><%= @tool.price %></p>
          <% if @tool.owner == current_user %>
          <%= link_to 'Edit', edit_tool_path, class: 'btn btn-warning' %></p>
          <% else %>
          <%= link_to 'Book me', new_tool_booking_path(@tool), class: 'btn btn-success' %>
          <% end %>
          <br><br>
          <%= link_to 'More tools', tools_path, class: 'btn btn-danger' %>
          <%#= link_to 'Add Review', tools_path, class: 'btn btn-primary' %>
        <div class = "description-tools">
          <% if current_user.bookings.where(tool_id: @tool.id).first %>
            <%= render 'shared/review', tool: @tool, review: Review.new %>
            <% end %>
            <h2>Tool's reviews</h2>
              <% @tool.reviews.each do |review| %>
              <ul class="list-unstyled"><li>
              <%= review.content%></li>
              <li><%= review.user.first_name %></li></ul>

            <% end %>
        </div>
      </div>
</div>
    </div>
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>

