<h1>You are in your Bookings</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= cl_image_tag @booking.tool.photo, height: 250, crop: :fill %>
        <div class="caption text-center">
          <h3>Tool: <%= @booking.tool.name %></h3>
          <p>Owner: <%= @booking.tool.owner.email %></p>
           <p>Start date: <%= @booking.start_date %></p>
           <p>End date: <%= @booking.end_date %></p>
          <br><br>
          <%= link_to 'More tools', tools_path, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
